---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <div class="max-w-2xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">About Me</h1>
    <p class="text-gray-600 dark:text-gray-400 mb-8">
      Hi! You probably know me from Tiktok.
    </p>

    <h2 class="text-2xl font-bold mb-4">I like</h2>
    <ul class="list-disc list-inside mb-8 text-gray-600 dark:text-gray-400">
      <li>Programming languages</li>
      <li>Type Theory</li>
      <li>Category Theory</li>
      <li>Math in general</li>
      <li>Linguistics</li>
      <li>History</li>
      <li>Tea</li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">Contact</h2>
    <p class="text-gray-600 dark:text-gray-400 mb-4">
      Feel free to email me at <a class="underline" href="mailto:c@saxxie.dev"
        >c@saxxie.dev</a
      > or reach out to me on <a
        class="underline"
        href="https://discord.gg/tkcbxFzDaJ">discord</a
      >
    </p>
  </div>
</Layout>
